<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Django-Angularjs</title>
</head>
<body>


<div ng-controller="crudController">
    <form>

        <input type="text" name="nombre" ng-model="md.nombre">
        [[nombre]]
        <!--
        <button ng-click="send('save',0)">enviar</button>-->
        <button ng-click="sendstore('save',0)">enviar</button>
    </form>
    <table>consultar procedure django
        <thead>
        <tr>
            <th>id</th>
            <th>data</th>
            <th>acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in procedure[0]">
            <td>[[ i.id ]]</td>
            <td>[[ i.nombre ]]</td>
            <td><a href="#" ng-click="delete(i.id)">delete</a></td>
            <td><a href="#" ng-click="edit(i.id)">edit</a></td>
        </tr>
        </tbody>
    </table>

    <!--
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>data</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="k in query">
            <td>[[ k.id ]]</td>
            <td>[[ k.name ]]</td>
        </tr>
        </tbody>
    </table>-->
</div>
<script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'app.js' %}"></script>
<script type="text/javascript">
    window.csrf_token = "{{ csrf_token }}";

</script>
<script>
//csrfmiddlewaretoken

    app.controller("crudController",function ($scope,$http,API_URL) {
        //read
        $http.get(API_URL+"store/1/0/").success(function (jsons) {
            $scope.procedure=(jsons);
            console.log($scope.procedure);
        });

            //create or update store
        $scope.sendstore=function (state,id) {
            var url=API_URL+"store/";
            switch (state){
                case 'save':
                        url+=3+"/"+0+"/";
                        //urli+="insert/";
                    break;
                case 'update':
                        url+=3+"/"+id+"/";
                    break;
            }

            $http.post(url,$scope.md,{headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).success(function(response){
                console.log(response);
                location.reload();
            }).error(function(response){
                console.log(response);
                alert('This is embarassing. An error has occured. Please check the log for details');
            })
            ;
        }

        $scope.delete=function(id){
            var url=API_URL+"store/";
           // alert(id);
           $http.post(url+5+"/"+id+"/").success(function(response){
                console.log(response);
                location.reload();
            }).error(function(response){
                console.log(response);
                alert('This is embarassing. An error has occured. Please check the log for details');
            })
            ;
        }

        $scope.edit=function(id){
            var url=API_URL+"store/";
             $scope.nombre=prompt("edite nombre");
             //$scope.md=$scope.nombre;
             //console.log("ff"+$scope.md);
             $http.post(url+4+"/"+id+"/",{"nombre":$scope.nombre},{headers: {'Content-Type': 'application/x-www-form-urlencoded'}}).success(function(response){
                console.log(response);
                location.reload();
            }).error(function(response){
                console.log(response);
                alert('This is embarassing. An error has occured. Please check the log for details');
            })
            ;
        }
    });

</script>
</body>
</html>