<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'login1' %}" method="post">
    {% csrf_token %}

        <table>{{formulario}}</table>

    <!--
    <input type="text" name="username" placeholder="name">
    <input type="password" name="password" placeholder="password">-->
    <input type="submit" name="envia" value="entrar">
</form>
</body>
</html>